@page "/fetchpeers"
@inject HttpClient Http
@inject IUriHelper UriHelper

<h1>Conneced peers</h1>

<p>This component show connected peers.</p>

@if (peers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table _table-hover _table-sm">
        <thead>
            <tr>
                <th>Addr</th>
                <th>Services</th>
                <th>ConnTime</th>
                <th>Version</th>
                <th>Inbound</th>
                <th>StartingHeight</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var peer in this.peers)
            {
            <tr>
                <td>@peer.Addr</td>
                <td>@peer.Services</td>
                <td>@peer.ConnTime</td>
                <td>@peer.Version</td>
                <td>@peer.Inbound</td>
                <td>@peer.StartingHeight</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
   
    PeerInfo[] peers;

    private void NavigateToBlockIndex(long index)
    {
        UriHelper.NavigateTo("fetchblock/" + index);
    }

    protected override async Task OnInitAsync()
    {
        peers = await Http.GetJsonAsync<PeerInfo[]>("http://localhost:9000/api/stats/peers?api-version=1.0");
    }

    public class PeerInfo
    {
        public uint Id { get; set; }
        public string Addr { get; set; }
        public string AddrLocal { get; set; }
        public string Services { get; set; }
        public long LastSend { get; set; }
        public long LastRecv { get; set; }
        public long BytesSent { get; set; }
        public long BytesRecv { get; set; }
        public int ConnTime { get; set; }
        public double PingTime { get; set; }
        public double Version { get; set; }
        public string SubVer { get; set; }
        public bool Inbound { get; set; }
        public long StartingHeight { get; set; }
        public int BanScore { get; set; }
        public long SyncedHeaders { get; set; }
        public long SyncedBlocks { get; set; }
        public IList<long> InFlight { get; set; }
        public bool WhiteListed { get; set; }
    }
}
