@page "/fetchtransaction/{transactionhash}"
@inject HttpClient Http
@inject IUriHelper UriHelper
@inject GlobalData globalData

@if (transaction == null)
{
    <section class="block-explorer-section section bg-bottom">
        <div class="container">
            <div class="row">
                <div style="margin:0 auto; min-height: 800px">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (transaction.TransactionId == null)
{
        <section class="block-explorer-section section bg-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">Details for Transaction</h2>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p>NOT FOUND</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
}
else
{
    <section class="block-explorer-section section bg-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Details for Transaction</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row m-bottom-70">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-latests table-detail">
                            <tbody>
                                <tr><td>Hash</td><td>@transaction.TransactionId</td></tr>
                                <tr><td>Block Hash</td><td class="mousepointer" @onclick="@(() => NavigateToBlockIndex(transaction.BlockIndex ?? 0))">@transaction.BlockHash</td></tr>
                                <tr><td>Block Index</td><td class="mousepointer" @onclick="@(() => NavigateToBlockIndex(transaction.BlockIndex ?? 0))">@transaction.BlockIndex</td></tr>
                                <tr><td>Timestamp</td><td>@transaction.Timestamp</td></tr>
                                <tr><td>LockTime</td><td>@transaction.LockTime</td></tr>
                                <tr><td>Version</td><td>@transaction.Version</td></tr>

                                @if (transaction.IsCoinbase)
                                {
                                    <tr><td colspan="2">Coinbase</td></tr>
                                }
                                else if (transaction.IsCoinstake)
                                {
                                    <tr><td colspan="2">Coinstake</td></tr>
                                }

                                @if (transaction.RBF)
                                {
                                    <tr><td>RBF</td><td>enabled</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-latest table-sm ">
                            <thead>
                                <tr>
                                    <th>Inputs</th>
                                    <th>Outputs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="w-50">
                                        <div class="list-group">
                                            @foreach (var input in transaction.Inputs)
                                            {
                                                <small>
                                                    <div style="padding: .55rem .55rem" class="list-group-item list-group-item-action">
                                                        <table class="table table-sm table-borderless table-sm">
                                                            <tbody>
                                                                <tr><td colspan="2"><strong>Prevout</strong></td></tr>
                                                                <tr><td colspan="2" @onclick="@(() => UpdateTransactionHash(input.InputTransactionId))" class=" mousepointer"># @input.InputIndex - @input.InputTransactionId</td></tr>
                                                                <tr><td colspan="2"><strong>ScriptSig</strong></td></tr>
                                                                <tr><td colspan="2" class="multiline-text">@input.ScriptSig:</td></tr>
                                                                <tr><td colspan="2"><strong>ScriptSig(Asm)</strong></td></tr>
                                                                <tr><td colspan="2" class="multiline-text">@input.ScriptSigAsm:</td></tr>
                                                                @if (!string.IsNullOrEmpty(@input.WitScript))
                                                                {
                                                                    <tr><td colspan="2"><strong>WitScript</strong></td></tr>
                                                                    <tr><td colspan="2" class="multiline-text">@input.WitScript</td></tr>
                                                                }
                                                                <tr><td>SequenceLock</td><td>@input.SequenceLock</td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </small>
                                            }
                                        </div>
                                    </td>
                                    <td class="w-50">
                                        <div class="list-group">
                                            @foreach (var output in transaction.Outputs)
                                            {
                                                <small>
                                                    <div style="padding: .55rem .55rem" class="list-group-item list-group-item-action">
                                                        <table class="table table-sm table-borderless table-sm">
                                                            <tbody>
                                                                <tr><td>Address:</td><td @onclick="@(() => NavigateToAddress(output.Address))" class=" mousepointer">@output.Address</td></tr>
                                                                <tr><td>OutputType</td><td>@(output.OutputType == "TX_NULL_DATA" ? "OP_RETURN" : output.OutputType)</td></tr>
                                                                <tr><td>Value</td><td>@GlobalData.ToUnit(output.Balance) @transaction.CoinTag</td></tr>
                                                                <tr><td colspan="2"><strong>ScriptPubKey:</strong></td></tr>
                                                                <tr><td colspan="2" class="multiline-text">@output.ScriptPubKey</td></tr>
                                                                <tr><td colspan="2"><strong>ScriptPubKey(Asm):</strong></td></tr>
                                                                <tr><td colspan="2" class="multiline-text">@output.ScriptPubKeyAsm</td></tr>

                                                                @if (!string.IsNullOrEmpty(output.SpentInTransaction))
                                                                {
                                                                    <tr><td colspan="2"><strong>Spent in</strong></td></tr>
                                                                    <tr><td colspan="2" @onclick="@(() => UpdateTransactionHash(output.SpentInTransaction))" class=" mousepointer">@output.SpentInTransaction</td></tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr><td colspan="2">unspent</td></tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </small>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@code {

    [Parameter]
    private string transactionhash { get; set; }

    private bool fetched { get; set; }

    private async Task UpdateTransactionHash(string trxHash)
    {
        transaction = null;

        Console.WriteLine($"trxHash={trxHash}");
        transaction = await Http.GetJsonAsync<DataTypes.QueryTransaction>($"http://{this.globalData.ApiUrl}/api/Query/transaction/{trxHash}?api-version=1.0");
    }

    private void NavigateToBlockIndex(long index)
    {
        UriHelper.NavigateTo($"fetchblock/{index}");
    }

    private void NavigateToAddress(string address)
    {
        UriHelper.NavigateTo($"fetchaddress/{address}");
    }

    DataTypes.QueryTransaction transaction;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"transactionhash={this.transactionhash}");

        transaction = await Http.GetJsonAsync<DataTypes.QueryTransaction>($"http://{this.globalData.ApiUrl}/api/Query/transaction/{this.transactionhash}?api-version=1.0");

    }
}
