@page "/FetchTransaction/{transactionhash}"
@inject HttpClient Http
@inject IUriHelper UriHelper
@inject GlobalData globalData

<h1>Transaction Info</h1>

<p>This component shows information about a block.</p>

@if (transaction == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Item</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Hash</td><td>@transaction.TransactionId</td></tr>
            <tr><td>BlockHash</td><td>@transaction.BlockHash</td></tr>
            <tr><td>BlockIndex</td><td style="cursor: pointer;" class="btn btn-link" @onclick="@(() => NavigateToBlockIndex(transaction.BlockIndex))">@transaction.BlockIndex</td></tr>
            <tr><td>Timestamp</td><td>@transaction.Timestamp</td></tr>
        </tbody>
    </table>

    <table class="table table-sm">
        <thead>
            <tr>
                <th>Inputs</th>
                <th>Outputs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="list-group">
                        @foreach (var input in transaction.Inputs)
                        {
                            <div class="list-group-item list-group-item-action">
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        <tr><td>Input index:</td><td># @input.InputIndex</td></tr>
                                        <tr><td>Input Hash:</td><td @onclick="@(() => NavigateToTransactionHash(input.InputTransactionId))" style="cursor: pointer;" class=" btn btn-link">@input.InputTransactionId</td></tr>
                                        <tr><td>ScriptSig</td><td></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </td>
                <td>
                    <div class="list-group">
                        @foreach (var output in transaction.Outputs)
                        {
                            <div class="list-group-item list-group-item-action">
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        <tr><td>Output index:</td><td># @output.Index</td></tr>
                                        <tr><td>output.Address:</td><td @onclick="@(() => NavigateToAddress(output.Address))" style="cursor: pointer;" class=" btn btn-link">@output.Address</td></tr>
                                        <tr><td>OutputType</td><td>@output.OutputType</td></tr>
                                        <tr><td>Value</td><td>@(output.Balance) @transaction.CoinTag</td></tr>
                                        <tr><td>ScriptPubKey</td><td></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
}

@code {

    [Parameter]
    private string transactionhash { get; set; }

    private void NavigateToTransactionHash(string trxHash)
    {
        UriHelper.NavigateTo($"FetchTransaction/{trxHash}");
    }

    private void NavigateToBlockIndex(long index)
    {
        UriHelper.NavigateTo($"fetchblock/{index}");
    }

        private void NavigateToAddress(string address)
    {
        UriHelper.NavigateTo($"FetchAddress/{address}");
    }

    DataTypes.QueryTransaction transaction;

    protected override async Task OnInitAsync()
    {
        transaction = await Http.GetJsonAsync<DataTypes.QueryTransaction>($"http://localhost:9000/api/Query/transaction/{this.transactionhash}?api-version=1.0");

    }
}
